*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background-color: white;
	/* scroll-behavior: smooth; */
	/* cursor: none; */
}

html {
	scroll-behavior: smooth;
	user-select: none;
}
a {
	text-decoration: none;
}


.container,
.container-sm,
.container-md,
.container-lg,
.container-xl,
.container-xxl {
	width: 100%;
	max-width: none;
	padding-right: 0;
	padding-left: 0;
}

.row {
	--bs-gutter-x: 0;
	--bs-gutter-y: 0;
	margin-right: 0;
	margin-left: 0;
}

[class*='col-'] {
	padding-right: 0;
	padding-left: 0;
}

:root {
--cta: #8c7357;
--primary: #0F1A23;
--secondary: #2f3747;
--tertiary:#56556c;
--quatrieme: #d3fbd8;
--whiteGrey: #f8f8f8;
--green :rgb(59, 228, 36);

--DM: "DM Sans";
--Dosis: "Dosis";
--Epilogue: "Epilogue";
--Geologica: "Geologica";
--Heebo: "Heebo";
--Kanit:"Kanit";
--Poppins: "poppins";
--Nunito: "Nunito";
--Poppins:"Poppins";
--Architects: "Architects Daughter";
--Radio: "Radio Canada Big";
--Red:"Red Hat Display";















/* -----------------------------------------
---------------------------------------- */








	--colorA: #e13e3b;
	--colorB: #0c0b2e;
	--colorC: white;
	--colorD: #bb7cf2;
	--colorE: #1b1b1b;
	--colorF: #28282e;
	--colorG: #005248;
	--colorH: #755b8a;
	--colorI: #f76e48;
	--colorJ: #b2a8b8;

	--colorL: #006e60;
	--colorM: #390071;
	--colorN: #553c69;
	--colorO: #11232e;
	--colorO2: rgba(17, 35, 46, 0.645);

	
	--bg: #1b1e22;
	--ca: #4d3d3d;
	--ca1: #006666;
	--ca2: #004d66;
	--gradient: #1d2f4f;
	--button: #6ca0dc;
	--blueGradient: linear-gradient(to right, #3f00e6, #7f00fd);
	--blue: #7f00fd;
	--blue2: #678bf6;
	--orange: #b49633;

	--alternate: #877455;
	--newBlue: #2993fa;
	--CTA: #4ba4ee;
	--CTAHero: #ffa500;
	--CTA2: #bc5f03;
	--CTAHero2: #add8e6;
	--bgAssets: #4683b42b;
	--greyBg: rgb(250, 250, 250);
	--yellow: #ffd700;

	--xlhero: clamp(4.5rem, 8vw, 10rem);
	--xxl: clamp(3rem, 8vw, 8rem);
	--xl: 3rem;
	--l: 2.2rem;
	--lm: 1.5rem;
	--m: 1rem;
	--s: 0.8rem;
	--button: clamp(1.1rem, 8vw, 1.4rem);

	--vert: #007b6e;
	--vertA: #00a86b;
	--vertB: #2e8b57;

	--jauneA: #ffd700;
	--jauneB: #ff4500;
	--jauneC: #ff1493;

	--orange: #ffa500;
	--rouge: #ff6347;
	--bleuAcier: #3c3a57;

	--bgHero: rgb(26, 44, 57);
	--titleHero: #3a3a58;
	/* --CTA-jaune:#B97D4B ; */
		--CTA-jaune: rgb(226, 158, 49);
	  /* --CTA-jaune: linear-gradient(90deg, rgb(205, 153, 55), rgb(231, 164, 82)); */

	--line-url: url(../Assets/png-gralypho/line-4.svg);
}

/* @media only screen and (max-width: 768px) {
	body {
		cursor: auto;
	}
} */
